# This is a good default: files that are auto-detected by git to be text are
# converted to the platform-native line ending (LF on Unix, CRLF on Windows)
# in the working tree and to LF in the repository.
#
* text=auto

# Use `eol=crlf` for files that should have the CRLF line ending both in the
# working tree (even on Unix) and in the repository.
#
#*.bat text eol=crlf

# Use `eol=lf` for files that should have the LF line ending both in the
# working tree (even on Windows) and in the repository.
#
#*.sh text eol=lf

# Use `binary` to make sure certain files are never auto-detected as text.
#
#*.png binary

mini_chromium/mini_chromium/build symlink=dir
mini_chromium/mini_chromium/base/debug symlink=dir
mini_chromium/mini_chromium/base/files symlink=dir
mini_chromium/mini_chromium/base/fuchsia symlink=dir
mini_chromium/mini_chromium/base/mac symlink=dir
mini_chromium/mini_chromium/base/memory symlink=dir
mini_chromium/mini_chromium/base/metrics symlink=dir
mini_chromium/mini_chromium/base/numerics symlink=dir
mini_chromium/mini_chromium/base/posix symlink=dir
mini_chromium/mini_chromium/base/process symlink=dir
mini_chromium/mini_chromium/base/strings symlink=dir
mini_chromium/mini_chromium/base/synchronization symlink=dir
mini_chromium/mini_chromium/base/third_party symlink=dir
mini_chromium/mini_chromium/base/threading symlink=dir